html,
body {
  height: 100%;
}

.main {
  margin-left: 50%;
  margin-right: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 60px 100px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.head__text {
  grid-column: span 2;
}

.input {
  grid-column: span 2;
  grid-row: 2 / 3;
}

.search {
  grid-column: span 2;
  grid-row: 3 / 4;
}

#icon {
  grid-row: 4 / 7;
  grid-column: span 2;
}

.first__row {
  grid-column: 1 / 2;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: show;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
